<div class="companion {{classNameCompanion}}">
    <div class="companion__content-wrapper">
        <div class="companion__avatar"></div>
        <div class="companion__wrap-message">
            <div class="companion__name">
                {{name}}
            </div>
            <div class="companion__last-message">
                <span class="companion__last-message-owner">Вы:</span>
                <span>{{text}}</span>
            </div>
        </div>
        <div class="companion__wrap-meta">
            <div class="companion__time">{{time}}</div>
            <div class="companion__unread-count">
                <span>{{undeadCount}}</span>
            </div>
        </div>
    </div>
</div>
